<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no" />
    <title>School Transfers</title>
    <link rel=stylesheet href="http://apps.northbynorthwestern.com/hungry/styles/22738433.main.css">
    <link rel="stylesheet" href="css/foundation.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="css/app.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  </head>
  <body ng-app="app" ng-cloak ng-controller="mainCntrl">

<!--
    <div class="row">
      <div class="large-12 columns">
        <h1>Northwestern School Transfers </h1>
        <h6>(2005-2006 through 2014-2015)</h6>
        <p> A look at Northwestern's transfers throughout the years. </p>
        <hr/>
      </div>
    </div>

  -->

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a href="http://www.northbynorthwestern.com"><img src="css/logo.png"></a>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>


    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">

        <li><label>Years</label></li>
        <li ng-repeat="year in years">
              <input ng-model="$parent.selected_year" type="radio" name="years" ng-value="year" id="year_{{ year }}" data-toggle="button">
              <label class="button" for="year_{{ year }}">{{ year }}</label>
        </li>


        <li><label>Filters</label></li>
            <li ng-repeat="filter in filters">
              <input ng-model="filter.hide" id="{{ filter.name }}" type="checkbox" data-toggle="button">
              <label class="button" for="{{ filter.name }}">{{ filter.name }}</label>
            </li>
      </ul>
    </aside>

    <section class="main-section">
      <!-- content goes here -->
          <div class="large-7 small-10 small-centered columns" role="content">
            <hr>
            <h1> Tracking the Transfers </h1>
            <h4> 2005-2006 through 2014-2015 </h4>
            <hr>
            <p> Choosing a major can be tough. Though we all know the lucky few who have followed their four-year college plan to the point, for the majority of us, finding a path through college is a lot less straightforward. Fortunately, you're probably not alone: at Northwestern, over three hundred students not only switch majors, but also transfer into entirely different schools every year. Some of the statistics regarding where the transfers from each school come from can be surprising, however.</p> <br>
            <h6> Choose a year from the top right to learn more. </h6>
          <article>
          <chord-diagram></chord-diagram>
          <!-- <h6 class="text-center">School Transfers: <span>{{ selected_year }}</span></h6> -->
        </article>
              </div>
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>

  <div class = "small-9 small-centered columns">
    <h3> Reading the Chart </h3>
    <p> Each portion of the diagram relates to the number of students who have transferred to that school; the larger the segment, the larger the proportion of transfers. If the flow of transfers is dominated by one school, the segment is colored by the dominating school. Clicking on a school eliminates it from the chart, allowing for clearer viewable relationships between specific schools.</p>
    <p> Throughout most of Northwestern history, Weinberg, Communication, and SESP dominate most of the transfer flows, taking up the majority of each chart. This is mostly unsurprising, as these three schools are among the largest at Northwestern; however, this fact is notable for demonstrating the more flexible course requirements of each school. Compare this to McCormick, Medill and Bienen, which collectively take in a quarter of transfers - these three schools demand a rigorous selection of mandatory first and second-year core classes, which makes transferring into these schools even after your first year incredibly difficult.  </p>

    <p> When reading the chart, also take note of the most popular places that each school transfers from: for example, while McCormick transfers come overwhelmingly from Bienen, Bienen transfers can come from up to four other schools. See if you can learn something surprising about where the transfers from your own school come from! </p>

    </div>

      <fieldset id="tooltip" class="row secondary">
        <div class="large-6 small-6 columns">
          <h6>{{ qFormat(tooltip.svalue) }} Students Transferred From {{ tooltip.tname }} to {{ tooltip.sname }}</h6>
          {{ pFormat(tooltip.svalue/tooltip.stotal) }} of {{ tooltip.sname }}'s Transfers ({{ qFormat(tooltip.stotal) }} Students) ||
          {{ pFormat(tooltip.svalue/tooltip.mtotal) }} of {{ qFormat(tooltip.mtotal) }} Total Transfers
        </div>
        <div class="large-6 small-6 columns">
          <h6>{{ qFormat(tooltip.tvalue) }} Students Transferred From {{ tooltip.sname }} to {{ tooltip.tname }}</h6>
          {{ pFormat(tooltip.tvalue/tooltip.ttotal) }} of {{ tooltip.tname }}'s Transfers ({{ qFormat(tooltip.ttotal) }} Students) ||
          {{ pFormat(tooltip.tvalue/tooltip.mtotal) }} of  {{ qFormat(tooltip.mtotal) }} Total Transfers
        </div>
      </fieldset>

    <!--</div>-->

    <footer class=nbn-footer> <div class=container> <div class="credits shift-left"> <p><strong>Published on January 20, 2016</strong></p> <p><strong>Design and Development</strong>: Matthew Zhang and Hayley Hu <p><strong>Data: </strong>Northwestern Institutional Research</p> <p>&copy; 2016 <a href="http://www.northbynorthwestern.com/">North by Northwestern</a></p> </div> </div> </footer>

    <script src="http://projects.delimited.io/experiments/chord-transitions/bower_components/d3/d3.min.js"></script>
    <script src="http://projects.delimited.io/experiments/chord-transitions/bower_components/foundation/js/foundation.min.js"></script>

    <script src="js/mainController.js"></script>

    <script src="js/matrixFactory.js"></script>

    <script src="js/chordDirective.js"></script>


    <script>
      $(document).foundation();
    </script>
  </body>
</html>
