<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no" />
    <link rel="shortcut icon" href="http://media.northbynorthwestern.com/media/img/favicon-hi.ico"> 
    <title>Tracking the Transfers</title>
    <link rel=stylesheet href="http://apps.northbynorthwestern.com/hungry/styles/22738433.main.css">
    <link rel="stylesheet" href="css/foundation.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="css/app.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  </head>
  <body ng-app="app" ng-cloak ng-controller="mainCntrl">

<!--
    <div class="row">
      <div class="large-12 columns">
        <h1>Northwestern School Transfers </h1>
        <h6>(2005-2006 through 2014-2015)</h6>
        <p> A look at Northwestern's transfers throughout the years. </p>
        <hr/>
      </div>
    </div>

  -->

<a id="top">
  <header class="masthead"> 
    <div class="logo"> 
      <a href="//www.northbynorthwestern.com/"><img class=nbn-logo src=http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/04/25/nbn_logo_black.svg alt=""></a> 
    </div> 
  </header>
</a> 

<br><br><br>


          <div class="large-6 small-10 small-centered columns" role="content">
            <hr>
            <h1> Tracking the Transfers </h1>
            <h4> 2005-2006 through 2014-2015 </h4>
            <hr>
            <p>
            Choosing a major can be tough. Some of you will follow your
four-year college plan from the first day you set foot
in Diversity of Life to the day you walk across the graduation
stage. Well, look at you. Aren’t you lucky? Others of you have had
to sit through lectures wondering whether you really care about
Economics or whether it was simply all you knew in high school.
Others of you have endured countless phone conversations with your
parents at home that always resulted in you yelling, “YOU ALWAYS
TOLD ME I COULD DO ANYTHING, AND NOW THAT I’M IN COLLEGE YOU’RE
JUST TAKING IT ALL BACK?! I’M TRYING TO FOLLOW MY DREAMS,
MOM!”</p> 

<p>All this to say, finding a path through college isn’t
straightforward. Fortunately, you're probably not alone: Every year
at Northwestern, over 300 students not only switch majors, but also
transfer into entirely different schools. Some of the statistics
regarding where the transfers from each school come from might
surprise you.</p>
<br>
            <h6> Choose a year below to learn more. </h6>
            <br>
          
              </div>


  </div>
</div>


      <div class="rows">
        <!--<h3> Years: </h3>-->
        <div class="small-12 small-centered columns">
              <ul class="">
              <li ng-repeat="year in years">
              <input ng-model="$parent.selected_year" type="radio" name="years" ng-value="year" id="year_{{ year }}" data-toggle="button">
              <label class="btn" for="year_{{ year }}">{{ year }}</label>
              </li>
            </ul>
          </div>
        </div>

<br>

      <h6> Click on a school to eliminate it from the chart. </h6>
      <br>

      <div class="row">
             
      <div class="small-9 small-centered columns">
        <ul class="">
            <li ng-repeat="filter in filters">
              <input ng-model="filter.hide" id="{{ filter.name }}" type="checkbox" data-toggle="button" id="filterer">
              <label class="btn" for="{{ filter.name }}">{{ filter.name }}</label>
            </li>
            </div>
          </ul>
        </div>
      </div>


<div class="row">
 <div class="large-8 medium-10 small-12 small-centered columns" role="content">
  <article>
          <chord-diagram></chord-diagram>
          <!-- <h6 class="text-center">School Transfers: <span>{{ selected_year }}</span></h6> -->
        </article>
      </div>
</div>



<div class = "small-9 small-centered columns">
    <h3> Top 5 Takeaways </h3>
    <p> You can draw any number of conclusions from this chart, but we've compiled some major trends to help guide you through the data: </p>
    <p> <strong>1. </strong>Three schools consistently dominate the chart: The School of Communication, the Weinberg College of Arts and Sciences, and the School of Education and Social Policy. One explanation for this is that these schools have fewer and more flexible requirements for enrollment; the other, more probable reason is that these schools are either big schools with a broad selection of majors or super specialized. </p>

    <p> <strong>2. </strong>Conversely, the other three schools - the Bienen
School of Music, the McCormick School of Engineering and Applied
Science, and the Medill School of Journalism - consistently
comprise less than a quarter of total transfers. This may be
attributed to the restrictive core requirements of each school –
Bienen requires an audition to apply; Medill has core reporting
classes that most students take in their freshman year; McCormick
has a barrage of specific course requirements, from Engineering
Analysis to three-quarter chemistry and physics sequences.
Personally, I can’t understand why that makes sense. Who <strong>didn’t</strong> almost take EA1 for the sheer fun of it? Other factors, such as
difficulty and the general desirability of these schools' majors,
could also apply, though.</p>

    <p> <strong>3. </strong>Weinberg has the greatest interschool diversity, drawing in a fairly large percentage of transfers from each of the other five schools, while McCormick has the lowest, as almost all of their transfers come exclusively from Weinberg. </p>

    <p> <strong>4. </strong>The most frequent transfers don't always flow between schools that share similar disciplines. For example, the second highest percentage of McCormick transfers come from Communication. </p>

    <p> <strong>5. </strong>Throughout the years, Bienen has always attracted the least amount of transfers, Medill the second-least, and McCormick the third-least. However, the ranking for the three top transferred-to schools aren't as constant, alternating between Communication, Weinberg, and SESP. </p>

    </div>

      <fieldset id="tooltip" class="row secondary">
        <div class="large-6 small-6 columns">
          <h6>{{ qFormat(tooltip.svalue) }} Students Transferred From {{ tooltip.tname }} to {{ tooltip.sname }}</h6>
          {{ pFormat(tooltip.svalue/tooltip.stotal) }} of {{ tooltip.sname }}'s Transfers ({{ qFormat(tooltip.stotal) }} Students) ||
          {{ pFormat(tooltip.svalue/tooltip.mtotal) }} of {{ qFormat(tooltip.mtotal) }} Total Transfers
        </div>
        <div class="large-6 small-6 columns">
          <h6>{{ qFormat(tooltip.tvalue) }} Students Transferred From {{ tooltip.sname }} to {{ tooltip.tname }}</h6>
          {{ pFormat(tooltip.tvalue/tooltip.ttotal) }} of {{ tooltip.tname }}'s Transfers ({{ qFormat(tooltip.ttotal) }} Students) ||
          {{ pFormat(tooltip.tvalue/tooltip.mtotal) }} of  {{ qFormat(tooltip.mtotal) }} Total Transfers
        </div>
      </fieldset>

    <!--</div>-->

    
    <footer class=nbn-footer> <div class=container> <div class="credits shift-left"> <p><strong>Published on January 20, 2016</strong></p> <p><strong>Design and Development</strong>: Matthew Zhang and Hayley Hu <p><strong>Text: </strong>Matthew Zhang and Madeleine Kenyon</p><p><strong>Data: </strong>Northwestern Institutional Research</p>  <p>&copy; 2016 <a href="http://www.northbynorthwestern.com/">North by Northwestern</a></p> </div> </div> </footer>


    <script src="http://projects.delimited.io/experiments/chord-transitions/bower_components/d3/d3.min.js"></script>
    <script src="http://projects.delimited.io/experiments/chord-transitions/bower_components/foundation/js/foundation.min.js"></script>

    <script src="js/mainController.js"></script>

    <script src="js/matrixFactory.js"></script>

    <script src="js/chordDirective.js"></script>


    <script>
      $(document).foundation();
    </script>

  </body>
</html>
